ACCOUNT_SERVICE_URL=http://account-service:8661
TUITION_SERVICE_URL=http://tuition-service:8732
PAYMENT_SERVICE_URL=http://payment-service:8815
NOTIFICATION_SERVICE_URL=http://notification-service:8940
ALLOWED_ORIGIN=http://localhost:3659
