SERVICE_NAME=notification-service
PORT=8940
MONGO_URI=mongodb://mongodb:27017
DATABASE_NAME=notification_db
JWT_SECRET=change_me_to_a_secure_secret
SMTP_HOST=mailpit
SMTP_PORT=1025
MAIL_FROM=noreply@ibanking.local
