SERVICE_NAME=payment-service
PORT=8815
MONGO_URI=mongodb://mongodb:27017
DATABASE_NAME=payment_db
JWT_SECRET=change_me_to_a_secure_secret
ACCOUNT_SERVICE_URL=http://account-service:8661
TUITION_SERVICE_URL=http://tuition-service:8732
NOTIFICATION_SERVICE_URL=http://notification-service:8940
