SERVICE_NAME=account-service
PORT=8661
MYSQL_HOST=account-mysql
MYSQL_PORT=3306
MYSQL_USER=account_user
MYSQL_PASSWORD=account_password
MYSQL_DATABASE=account_db
JWT_SECRET=super_secret_jwt_key_change_in_prod
JWT_EXPIRE_MINUTES=60
